apiVersion: apps/v1
kind: Deployment
metadata:
  name: zion-next-app
  labels:
    app: zion-next-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zion-next-app
  template:
    metadata:
      labels:
        app: zion-next-app
    spec:
      containers:
        - name: zion-next-app
          image: zion-next-app:latest  # Jenkins에서 자동으로 커밋 해시로 업데이트됨
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: production
            # Secret에서 값 불러오기
            - name: GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: splendor-secrets
                  key: GOOGLE_CLIENT_ID
            - name: GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: splendor-secrets
                  key: GOOGLE_CLIENT_SECRET
            - name: ALLOWED_EMAILS
              valueFrom:
                secretKeyRef:
                  name: splendor-secrets
                  key: ALLOWED_EMAILS
            - name: AUTH_TRUST_HOST
              value: "true"
            - name: AUTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: splendor-secrets
                  key: AUTH_SECRET
            - name: NEXTAUTH_URL
              value: "https://zionlee.website"
            - name: AUTH_URL
              value: "https://zionlee.website"
            - name: CLOUDFLARE_ACCOUNT_ID
              valueFrom:
                secretKeyRef:
                  name: d1-secrets
                  key: CLOUDFLARE_ACCOUNT_ID
            - name: CLOUDFLARE_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: d1-secrets
                  key: CLOUDFLARE_API_TOKEN
            - name: D1_DATABASE_ID
              valueFrom:
                secretKeyRef:
                  name: d1-secrets
                  key: D1_DATABASE_ID
